{% extends 'base.html' %}

{% block title %}Registrar Usuario{% endblock %}

{% block content %}

    <div class=" text-aling text-center m-4"></div>
    <h1>Registrar Usuario</h1>
    <form method="POST">
        <label for="usuario">Nome do Usuario:</label>
        <input type="text" class="form-control" id="usuario">

        <label for="senha">Senha:</label>
        <input type="password" class="form-control" id="senha">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>

{% endblock %}