{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <main>
        <h1>Sobre a TechNova</h1>
        <p>A TechNova é uma empresa especializada em soluções tecnológicas inovadoras, com um portfólio de serviços e cursos para transformar a sua experiência digital.</p>
        
        <section>
            <h2>Missão</h2>
            <p>Nosso objetivo é fornecer soluções eficazes para empresas e indivíduos, com foco em resultados de qualidade e inovação.</p>
        </section>
        
        <section>
            <h2>Visão</h2>
            <p>Ser reconhecida como uma das principais empresas de tecnologia, oferecendo serviços e cursos de excelência que atendem às necessidades do mercado.</p>
        </section>
        
        <section>
            <h2>Valores</h2>
            <ul>
                <li>Compromisso com a qualidade</li>
                <li>Inovação constante</li>
                <li>Atendimento personalizado</li>
                <li>Ética e transparência</li>
            </ul>
        </section>
    </main>

{% endblock %}
